@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  background-color: #ffffff; /* putih */
  color: #111827; /* teks gelap */
}

body {
  transition: background-color 0.3s, color 0.3s;
}

